* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-overlay {
  display: none;
}

.modal-overlay-active {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(1, 1, 1, 0.65);
  z-index: 10;
  position: absolute;
}

.modal-overlay-active .modal-content {
  background-color: #fff;
  width: 40vh;
  padding: 1rem;
  border-radius: 4px;
}

.modal-overlay-active .remove-btn {
  display: none;
}

.modal-overlay-active .edit-btn {
  display: none;
}

.modal-overlay-active .modal-form {
  margin-bottom: 1rem;
}

.modal-overlay-active .modal-form input,
.modal-overlay-active .modal-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.4rem;
}

.modal-overlay-active .modal-form textarea {
  resize: none;
}

.modal-overlay-active .modal-form #edit-submit-btn {
  cursor: pointer;
  background: #acfb94;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
}

.modal-overlay-active .modal-form #edit-cancel-btn {
  cursor: pointer;
  background: #fb9494;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
}

section.addbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #80a34a;
  padding: 1rem;
}

section.addbook h2 {
  margin: 1rem;
}

section.addbook form label,
section.addbook form input,
section.addbook form textarea {
  display: block;
  width: 100%;
}

section.addbook form input,
section.addbook form textarea {
  border: none;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
}

section.addbook form textarea {
  resize: none;
}

section.addbook form input:focus,
section.addbook form textarea:focus {
  outline: none;
}

.books {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 10px;
}

.books .book-container {
  width: 400px;
  background-color: antiquewhite;
  padding: 1rem;
}

.books .book-container .remove-btn {
  cursor: pointer;
  background: #fb9494;
  margin-top: 1rem;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
}

.books .book-container .edit-btn {
  cursor: pointer;
  background: #80a34a;
  margin-top: 1rem;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
}

.books .book-container small {
  font-weight: bold;
}

.books .book-container p,
.books .book-container small {
  margin-top: 0.4rem;
}

@media (max-width: 1244px) {
  .books {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 835px) {
  .books {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */